/*Font: Inter 100, 400, 700*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
p
 {
    margin: 0; 
}

h1,
h2,
h3,
p {
    font-weight: 400;
}

.container {
  padding: 2rem 4rem;
}


:root {
  /* colors */
  --cayan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  
}

@media (min-width: 35em) {
  :root {
      --fs-800: 5rem;
      --fs-700: 2.5rem;
      --fs-600: 1.5rem;
      --fs-500: 1.25rem;
      --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
      /* font-sizes */
      --fs-800: 6.25rem;
      --fs-700: 3.5rem;
      --fs-600: 2rem;
      --fs-500: 1.75rem;
      --fs-400: 1.125rem;
  }
}

.app::before {
  content: '';
  background-image: url(./assets/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  color: hsl(0 0% 100%);
  display: grid;
  grid-template-rows: min-content 1fr 0.5fr;
}

.app > * {
  margin-top: 0.8rem;
}


input {
  padding: 0.8rem;
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: 3%;
  border-radius: 10px;
  border: 0;
}

textarea:focus, input:focus{
  outline: none;
}