.container {
    padding: 2rem;
   
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    height: 100vh;
  }

  @media (max-width: 320px) {
      .container {
        padding: 0.3rem 0.1rem;
        
      }
  }

  @media (min-width: 800px) {
    .container {
      max-width: 800px;
    }
}

  .city-degree {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      top: 50%;
  }
  .city-degree > div > p {
      font-size: 0.9rem;
      padding-left: 0.5rem;
  }
 .city-degree > div > h1 {
      font-size: 6rem;
      font-weight: 700;
  }

  .description {
     transform-origin: 0 0;
     transform: rotate(270deg);
     position: relative;
     top: 5rem;
     left: -25%;
     display: flex;
    align-items: flex-end;
    
  }

  @media (max-width: 320px) {
    .description {
        left: -35%;
    
     }
  }

 
 .container > input {
     margin: 0 auto;
     
 }


.additional {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1.3rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    
    }
    
    .humidity > p,
    .visibility > p,
    .uvindex > p {
    padding-top: 0.4rem;
    font-weight: 400;
    }
    
    .humidity > h3,
    .visibility > h3,
    .uvindex > h3 {
    text-align: center;
    font-weight: 700;
    }